body, html {
    margin: 0;
    padding: 0;
    background: #030c07;
    background-image: url("../images/background.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{  
    width: 1290px;
    margin: 0 auto;
}
#logo{
    margin: 35px auto;
    width: 566px;
    height: 142px;
    background-image: url("../images/logo-memory-match.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#settings{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 40px 40px;
    font-size: 20px;    
}

#settings i{
    margin: 0 10px 0 0;
}

#settings #currentTime{
    width: 25%;
    color: #00c355;
    margin: 0 0 20px 0;
    border: 1px solid;
    padding: 10px;
    border-radius: 15px;
}

#settings #hits{
    width: 25%;
    color: #00c355;
    margin: 0 0 20px 0;
    border: 1px solid;
    padding: 10px;
    border-radius: 15px;
}

#settings #errors{
    width: 25%;
    color: #00c355;
    margin: 0 0 20px 0;
    border: 1px solid;
    padding: 10px;
    border-radius: 15px;
}

#settings #currentTimeElement{
    font-weight: 900;
    color: #0bf503;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;    
    border: 1px solid #073812;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: #0ac25d 0 0 15px 1px;
}
.card{
    display: flex;
    width: 150px;
    height: 250px;
    border-radius: 15px;
    background: #fff;
    margin: 5px;
    justify-content: center;
    align-items: center;
    background: #fff;
}
.card:hover{
    cursor: pointer;
    box-shadow: rgb(104 120 241 / 80%) 0 0 15px 1px;
    transform: scale(1.3);   
    transition: 0.3s ease-out;
    z-index: 1;
}
.imgCard{
    backface-visibility: hidden;
    transition: all 1s;
    transform-style: preserve-3d;
}

.hover{
    transform: rotateY(-180deg);
}
.card .flipCard, img{
    display: flex;
    width: 150px;
    height: 250px;
    border-radius: 15px;
}

.flipCardHover{
    transform: rotateY(-180deg);
}

#modalEndGame, #modalEndGameErrors{
    display: none;
    flex-wrap: wrap;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.75);
    justify-content: center;
    align-items: center;    
}

#modalEndGameErrors #txtErros{
    position: absolute;
    padding: 20px;
    font-size: 34px;
    background-color: rgb(214, 41, 35);
    color: #fff;
    font-weight: 900;
    z-index: 2;
    border-radius: 15px;
}

#btnsModal, #btnsModalErrors{
    width: 70%;
    display: flex;
    justify-content: space-around;
    position: absolute;
    top: 70%;
    z-index: 2;
}

#btnsModal #btnEndGame, 
#btnsModal #btnCloseModal,
#btnsModalErrors #btnEndGameErrors, 
#btnsModalErrors #btnCloseModalErrors{
    width: 350px;
    height: 70px;
    color: #ffffff;
    border-radius: 50px;
    cursor: pointer;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: 900;
}

#btnsModal #btnEndGame{
    background-color: rgb(182 35 214);
    color: #240128;
    font-size: 20px;
}

#btnsModal #btnCloseModal{
    background-color:  rgb(104, 104, 104);
    color: #ffffff;
    font-size: 20px;
}

#btnsModalErrors #btnEndGameErrors{
    background-color: rgb(214, 41, 35);
    color: #ffffff;    
}
#btnCloseModalErrors{
    background-color: rgb(104, 104, 104);
    color: #ffffff;
}
#btnManualStart{
    width: 25%;
    margin: 0 auto 40px;
    border-radius: 15px;
    background-color: #5b8a57;
    background-image: radial-gradient(93% 87% at 87% 89%, rgba(0, 0, 0, 0.23) 0%, transparent 86.18%), radial-gradient(66% 66% at 26% 20%, rgba(255, 255, 255, 0.55) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%);
    box-shadow: inset -3px -3px 9px rgba(255, 255, 255, 0.25), inset 0px 3px 9px rgba(255, 255, 255, 0.3), inset 0px 1px 1px rgba(255, 255, 255, 0.6), inset 0px -8px 36px rgba(0, 0, 0, 0.3), inset 0px 1px 5px rgba(255, 255, 255, 0.6), 2px 19px 31px rgba(0, 0, 0, 0.2);
    padding: 10px 15px;
    font-weight: bold;
    font-size: 14px;
    color: #f7f7f7;
    cursor: pointer;
    border: 1px solid #81f9b7;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}
.btnManualStartPlaying{
    background-color: #57608a !important;
    background-image: radial-gradient(93% 87% at 87% 89%, rgba(0, 0, 0, 0.23) 0%, transparent 86.18%), radial-gradient(66% 66% at 26% 20%, rgba(255, 255, 255, 0.55) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%) !important;
    box-shadow: inset -3px -3px 9px rgba(255, 255, 255, 0.25), inset 0px 3px 9px rgba(255, 255, 255, 0.3), inset 0px 1px 1px rgba(255, 255, 255, 0.6), inset 0px -8px 36px rgba(0, 0, 0, 0.3), inset 0px 1px 5px rgba(255, 255, 255, 0.6), 2px 19px 31px rgba(0, 0, 0, 0.2) !important;
    border: 1px solid #8981f9 !important;
}
#btnManualStart i{
    margin: 0 10px 0 0;
}
#btnManualStart:hover{
    background-color: #0ac25d;
    box-shadow: rgba(104, 241, 177, 0.8) 0 0 5px 1px;
    border: 1px solid #81f9b7;
}
#endGame{
    width: 65%;
    height: 65%;
    transition-property: top, opacity;
    transition-duration: 2.5s;
    z-index: 1;    
    box-shadow: rgb(104 120 241 / 80%) 0 0 15px 15px;
}
#endGameErrors{
    width: 65%;
    height: 65%;
    transition-property: top, opacity;
    transition-duration: 2.5s;
    z-index: 1;    
    box-shadow: rgba(226, 126, 126, 0.8) 0 0 15px 15px;
}
.hover, .match{
    border: 2px solid #81f9b7;
    background-color: rgba(117, 153, 122, 0.8);
    box-shadow: rgba(104, 241, 177, 0.8) 0 0 5px 1px;
}

#imgMatch{
    position: absolute;
    top: 20%;
    left: 35%;
    width: 556px;
    transition-property: top, opacity;
    transition-duration: 2.5s;
    z-index: -1;
}

.unclickable {
    pointer-events: none;
}